<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>1034425995197-25dfha3v4jd4i4lfo49b5oorj27vfc2p.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.1034425995197-25dfha3v4jd4i4lfo49b5oorj27vfc2p</string>
	<key>API_KEY</key>
	<string>AIzaSyDo3hq_jJ2cmV08cl3jN-RqWwCY2TMmS_k</string>
	<key>GCM_SENDER_ID</key>
	<string>1034425995197</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.engageChatApp</string>
	<key>PROJECT_ID</key>
	<string>emailpasswordauth-fd596</string>
	<key>STORAGE_BUCKET</key>
	<string>emailpasswordauth-fd596.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:1034425995197:ios:66fdc47c4e3281165d4cd4</string>
</dict>
</plist>